KITTI
*.png
!docs/*.png
records/
result/
models/
pretrained/
*.ipynb
*.h5
__pycache__/*
.idea/*
/graph_viz*/*
/results/*
train_data
test_data
*.pyc
*.m~
datainfo
*.gch
eval/kitti_eval/cpp/evaluate_odometry
data*
data_old